<div [ngClass]="baseCardClasses">
    <div *ngIf="isLoading" 
         class="absolute inset-0 bg-white/80 dark:bg-slate-800/80 flex items-center justify-center z-20 rounded-xl">
      <svg class="animate-spin h-10 w-10 text-blue-600 dark:text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </div>
  
    <ng-container *ngIf="!isLoading">
      <div *ngIf="hasCustomHeader; else defaultHeader" [ngClass]="headerClass">
        <ng-container [ngTemplateOutlet]="customHeaderTemplate!"></ng-container>
      </div>
  
      <ng-template #defaultHeader>
        <div *ngIf="title || icon || hasHeaderActions" [ngClass]="effectiveHeaderClasses">
          <div class="flex items-center min-w-0"> <i *ngIf="icon" class="{{ icon }} text-xl text-slate-600 dark:text-slate-400 mr-3"></i>
            <h3 *ngIf="title" class="text-lg font-semibold text-slate-800 dark:text-slate-100 truncate">
              {{ title }}
            </h3>
          </div>
          <div class="ml-auto pl-2 shrink-0">
            <div #headerActionsMarker></div> <ng-content select="[card-header-actions]"></ng-content>
          </div>
        </div>
      </ng-template>
    </ng-container>
  
    <div [ngClass]="effectiveBodyClasses">
      <ng-content *ngIf="!isLoading"></ng-content>
    </div>
  
    <div *ngIf="!isLoading && hasFooter" [ngClass]="effectiveFooterClasses">
      <div #footerMarker></div> <ng-content select="[card-footer]"></ng-content>
    </div>
  </div>
