.pi {
    line-height: inherit; // Ajuda no alinhamento vertical com o texto
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

nav {
  scrollbar-gutter: stable;
}