<div
  class="bg-white shadow-md rounded-2xl p-6 border border-gray-200 space-y-4"
>
  <h2 class="text-lg font-bold text-slate-800">Detalhes da Ordem de Serviço</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Técnico -->
    <div>
      <label class="block text-xs text-slate-500">Técnico Responsável</label>
      <div class="font-semibold text-slate-700">
        {{ serviceOrder.technician?.name || " - " }}
      </div>
    </div>

    <!-- Período -->
    <div>
      <label class="block text-xs text-slate-500">Período</label>
      <div class="font-semibold text-slate-700">
        {{ getPeriodLabel(serviceOrder.period!) || " - " }}
      </div>
    </div>

    <!-- Início -->
    <div>
      <label class="block text-xs text-slate-500">Início da OS</label>
      <div class="font-semibold text-slate-700">
        {{ serviceOrder.startOfOs || " - " }}
      </div>
    </div>

    <!-- Fim -->
    <div>
      <label class="block text-xs text-slate-500">Término da OS</label>
      <div class="font-semibold text-slate-700">
        {{ serviceOrder.endOfOs || " - " }}
      </div>
    </div>

    <!-- Status -->
    <div>
      <label class="block text-xs text-slate-500">Status</label>
      <div class="font-semibold text-slate-700">
        {{ getStatusLabel(serviceOrder.status!) || " - " }}
      </div>
    </div>

    <!-- Atualizado por -->
    <div>
      <label class="block text-xs text-slate-500">Última Atualização por</label>
      <div class="font-semibold text-slate-700">
        {{ serviceOrder.updatedBy || " - " }}
      </div>
    </div>

    <!-- Atualizado em -->
    <div>
      <label class="block text-xs text-slate-500">Última Atualização</label>
      <div class="font-semibold text-slate-700">
        {{ serviceOrder.updatedAt || " - " }}
      </div>
    </div>

    <!-- Criado em -->
    <div>
      <label class="block text-xs text-slate-500">Criado em</label>
      <div class="font-semibold text-slate-700">
        {{ serviceOrder.createdAt || " - " }}
      </div>
    </div>

    <!-- Telefone -->
    <div>
      <label class="block text-xs text-slate-500">Telefone de Contato</label>
      <div class="font-semibold text-slate-700">
        {{ serviceOrder.phone2! || " - " | phones }}
      </div>
    </div>
  </div>
</div>

<div class="border-b border-gray-300 bg-white mb-5 py-4"></div>

<div
  class="bg-white shadow-md rounded-2xl p-6 border border-gray-200 space-y-4"
>
  <h2 class="text-lg font-bold text-slate-800">Informações para Edição</h2>
  <form
    (ngSubmit)="editServiceOrder()"
    [formGroup]="form"
    class="flex flex-col md:flex-row gap-6 w-full items-end"
  >
    <div class="w-full md:w-1/3">
      <label class="block text-xs text-slate-500 mb-2">Tecnologia</label>
      <p-select
        formControlName="technology"
        [options]="technologyOptions"
        appendTo="body"
        optionLabel="label"
        optionValue="value"
        styleClass="w-full"
      ></p-select>
    </div>
    <div class="w-full md:w-1/3">
      <label class="block text-xs text-slate-500 mb-2">Cabeamento</label>
      <p-select
        formControlName="cabling"
        [options]="cablingOptions"
        appendTo="body"
        optionLabel="label"
        optionValue="value"
        styleClass="w-full"
      ></p-select>
    </div>
    <div class="w-full md:w-1/3">
      <label class="block text-xs text-slate-500 mb-2">Relatório Ativo</label>
      <p-select
        formControlName="isActiveToReport"
        [options]="isActiveToReportOptions"
        appendTo="body"
        optionLabel="label"
        optionValue="value"
        styleClass="w-full"
      ></p-select>
    </div>
    <div class="w-full md:w-auto flex justify-end mt-4 md:mt-0">
      <p-button label="Salvar" type="submit" styleClass="w-full md:w-auto" />
    </div>
  </form>
</div>

<p-toast />
