<div class="term-title">Termo de Alteração de Titularidade</div>
<div class="container">
    <div class="surface-box">
        <span class="bold-text">Dados da Prestadora</span>
    </div>
    <div class="border-box">
        <div class="flex-column p-2">
            <span class="mb-1">Nome Empresarial:</span>
            <span class="bold-text">OAI EIRELI</span>
        </div>
    </div>
    <div class="flex-wrap">
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">CNPJ:</span>
                <span class="bold-text">11.155.792/0001-90</span>
            </div>
        </div>
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">Inscrição Estadual:</span>
                <span class="bold-text">501.091.802.110</span>
            </div>
        </div>
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">Ato de Autorização – Anatel:</span>
                <span class="bold-text">4317 de 09/07/2010</span>
            </div>
        </div>
    </div>
    <div class="border-box">
        <div class="flex-column p-2">
            <span class="mb-1">Endereço:</span>
            <span class="bold-text">Rua Capitão Francisco Rodrigues Garcia, 153</span>
        </div>
    </div>
    <div class="flex-wrap">
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">Bairro:</span>
                <span class="bold-text">Centro</span>
            </div>
        </div>
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">Cidade:</span>
                <span class="bold-text">Assis</span>
            </div>
        </div>
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">Estado:</span>
                <span class="bold-text">São Paulo</span>
            </div>
        </div>
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">CEP:</span>
                <span class="bold-text">19800-130</span>
            </div>
        </div>
    </div>
    <div class="flex-wrap">
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">Telefone:</span>
                <span class="bold-text">(18) 3421-2000</span>
            </div>
        </div>
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">S.A.C:</span>
                <span class="bold-text">0800 722 7998</span>
            </div>
        </div>
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">Site:</span>
                <span class="bold-text">https://oai.com.br</span>
            </div>
        </div>
        <div class="border-box flex-grow">
            <div class="flex-column">
                <span class="mb-1">E-mail:</span>
                <span class="bold-text">{{ email }}</span>
            </div>
        </div>
    </div>
</div>