  .content-box {
    border-color: #ccc;
    border-width: 3px;
    border-style: solid;
    border-radius: 1rem;
    margin-top: 0.5rem;
  }

  .holder-container {
    margin: 1rem;
  }

  .header {
    background-color: #f0f0f0;
    width: 13rem;
    padding: 0.5rem;
  }

  .header-title {
    font-weight: 600;
  }

  .info-section {
    display: flex;
    flex-wrap: wrap;
  }

  .info-box {
    border: 1px solid #dcdcdc;
    flex-grow: 1;
    padding: 0.5rem;
  }

  .info-content {
    display: flex;
    flex-direction: column;
  }

  .label {
    margin-bottom: 0.25rem;
  }

  .value {
    font-weight: bold;
  }