<!-- Container geral -->
<div
  class="p-4 md:p-6 bg-white dark:bg-slate-900 min-h-full rounded-lg shadow-md"
>
  <div
    class="flex flex-col items-center gap-6 mx-auto bg-white p-6 rounded-2xl shadow w-full max-w-7xl border border-gray-200"
  >
    <!-- Campos de busca -->
    <p-select
      [options]="clientTypeOptions"
      [(ngModel)]="clientType"
      placeholder="Selecione o tipo"
      (ngModelChange)="onClientTypeChange()"
      optionLabel="label"
      optionValue="value"
      class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2"
    />

    @if(clientType === 'PF'){
    <input
      type="text"
      pInputText
      placeholder="CPF do Cliente"
      [(ngModel)]="cpfCnpj"
      mask="000.000.000-00"
      unmask="true"
      maxlength="14"
      [disabled]="!clientType"
      class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2 py-3 px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition"
    />
    } @if(clientType === 'PJ'){
    <input
      type="text"
      pInputText
      placeholder="CNPJ do Cliente"
      [(ngModel)]="cpfCnpj"
      mask="00.000.000/0000-00"
      unmask="true"
      maxlength="18"
      [disabled]="!clientType"
      class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2 py-3 px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition"
    />
    }

    <!-- Botão de consulta -->
    <div class="w-full sm:w-3/4 md:w-2/3 lg:w-1/2 flex justify-center">
      <p-button
        icon="pi pi-search"
        (onClick)="consultClient(); registerNewClient()"
        label="Consultar Cliente"
        severity="info"
        [disabled]="!cpfCnpj || !clientType"
        class="w-full sm:w-auto"
      />
    </div>

    <!-- Estados de carregamento e mensagens -->
    @if(isLoading){
    <div class="flex justify-center w-full py-4">
      <p-progress-spinner ariaLabel="isLoading" />
    </div>
    } @else if(!hasSearched){
    <div class="text-center text-gray-500">
      <p class="text-sm">Por favor, faça uma consulta.</p>
    </div>
    } @else if(!isLoading && hasSearched && (!dataClient || dataClient.length
    === 0)) {
    <div class="text-center text-gray-500">
      <p class="text-sm">Nenhum cliente encontrado.</p>
      <div class="mt-4">
        <p-button
          label="Registrar Novo Cliente"
          [outlined]="true"
          (onClick)="confirmToRegisterNewClient($event, cpfCnpj)"
        />
      </div>
    </div>
    } @else {

    <!-- Resultados -->
    <div class="flex flex-col gap-4 mt-6 w-full">
      <div
        *ngFor="let client of dataClient; let i = index"
        class="grid grid-cols-1 lg:grid-cols-12 gap-4 p-6 bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-lg transition-all duration-300 w-full"
      >
        <!-- Nome -->
        <div class="col-span-12 lg:col-span-3">
          <span class="text-[11px] text-gray-400 uppercase tracking-wider mb-1"
            >Nome</span
          >
          <span class="font-semibold text-gray-800 truncate block">
            {{ clientType === "PJ" ? client.companyName : client.name }}
          </span>
        </div>

        <!-- Código do plano -->
        <div class="col-span-12 lg:col-span-2">
          <span class="text-[11px] text-gray-400 uppercase tracking-wider mb-1"
            >Código do plano</span
          >
          <span class="text-gray-700 font-medium truncate block">
            {{ client.contracts[0]?.planCode || " - " }}
          </span>
        </div>

        <!-- Endereço -->
        <div class="col-span-12 lg:col-span-4">
          <span class="text-[11px] text-gray-400 uppercase tracking-wider mb-1"
            >Endereço</span
          >
          <span class="text-gray-600 font-medium truncate block">
            {{ client.addresses[0]?.street }},
            {{ client.addresses[0]?.number }},
            {{ client.addresses[0]?.neighborhood }},
            {{ client.addresses[0]?.city }}
          </span>
        </div>

        <!-- Telefone -->
        <div class="col-span-12 lg:col-span-2">
          <span class="text-[11px] text-gray-400 uppercase tracking-wider mb-1"
            >Telefone</span
          >
          <span class="text-gray-700 font-medium truncate block">
            {{
              clientType === "PJ" ? client.mobilePhone : (client.phone | phones)
            }}
          </span>
        </div>

        <!-- Botão -->
        <div
          class="col-span-12 lg:col-span-1 flex justify-center lg:justify-end items-end"
        >
          <p-button
            label="Criar Contrato"
            (onClick)="createNewContractVisible(client)"
            class="w-full sm:w-auto px-4"
          />
          <p-button
            icon="pi pi-eye"
            severity="info"
            [rounded]="true"
            class="w-full sm:w-auto px-4"
            label="Visualizar"
            (onClick)="viewClient(client)"
          ></p-button>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<p-toast />
<p-confirmpopup />
<p-dialog
  [(visible)]="createNewContractDialog"
  header="Criar Novo Contrato"
  [modal]="true"
  [style]="{ width: '50vw' }"
  draggable="false"
  resizable="false"
>
<app-create-contract [isPJorPF]="clientType" [clientData]="dataClient"></app-create-contract>
</p-dialog>
