<section>
    <div class="@container">
        <h1 class="text-center mb-4">Clientes Registrados</h1>
        <div class="row">
            <div class="col-md-12">
                @for (register of clients; track $index) {
                    <div class="border rounded-lg p-3 mb-3 hover:bg-gray-100 hover:shadow-lg hover:scale-101 transition-transform">
                        <div class="flex flex-col">
                            <label for="name">Nome</label>
                            {{ register.name }}
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>