   @if(isCreatingContract){
      <div class="flex flex-col items-center justify-center py-16">
    <p-progressSpinner styleClass="w-8 h-8" strokeWidth="4" ariaLabel="Criando Contrato"></p-progressSpinner>
    <span class="mt-4 text-lg text-gray-600">Criando contrato...</span>
  </div>
}
  @else{
<form [formGroup]="contractForm" class="bg-white p-2 rounded-xl shadow">
  <p-stepper [value]="stepOne">
    <!-- Passo 1: Dados do Contrato -->
    <p-step-item [value]="stepOne">
      <p-step>Dados do Contrato</p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <!-- Linha 1: Plano e Desconto -->

          <div class="flex flex-wrap md:flex-nowrap gap-4 w-full py-2">
            <div class="flex-1 min-w-[220px]">
              <p-select
                [options]="isPJ ? pjPlans : pfPlans"
                optionLabel="Descricao"
                optionValue="Codigo"
                placeholder="Plano"
                appendTo="body"
                formControlName="planCode"
                class="w-full"
                filter="true"
                fluid
              />
            </div>
            <div class="flex-1 min-w-[220px]">
              <p-inputnumber
                formControlName="subscriptionDiscount"
                mode="currency"
                locale="pt-BR"
                [minFractionDigits]="2"
                placeholder="Desconto de Adesão"
                currency="BRL"
                currencyDisplay="symbol"
                class="w-full"
                fluid
              />
            </div>
          </div>

          <!-- Linha 2: Datas, Parcelas e Ciclo -->

          <div class="flex flex-wrap gap-4 w-full items-end">
            <div class="flex-1 min-w-[200px]">
              <span
                class="block text-xs text-gray-400 mt-2 mb-1 whitespace-nowrap"
              >
                *A data de inicio da cobranca nao pode ser menor do que a data
                de assinatura.
              </span>
              <p-datepicker
                formControlName="beginningCollection"
                placeholder="Data de Início"
                appendTo="body"
                styleClass="w-full"
                dateFormat="dd/mm/yy"
                dataType="string"
                fluid
              />
            </div>
            <div class="flex-1 min-w-[200px]">
              <p-datepicker
                formControlName="signatureContract"
                placeholder="Data de Assinatura"
                appendTo="body"
                styleClass="w-full"
                dateFormat="dd/mm/yy"
                dataType="string"
                fluid
              />
            </div>
            <div class="flex-1 min-w-[200px]">
              <p-select
                [options]="installments"
                formControlName="numParcels"
                placeholder="Número de Parcelas"
                class="w-full"
              />
            </div>
            <div class="flex-1 min-w-[200px]">
              <p-select
                [options]="billingCycleOptions"
                formControlName="billingCycle"
                placeholder="Dia do Vencimento"
                appendTo="body"
                class="w-full"
                styleClass="w-full"
              />
            </div>
          </div>

          <!-- Parcelas -->
          <div formArrayName="parcels" class="mt-6">
            <div class="border-b border-gray-700 pb-2 mb-4">
              <h3 class="text-gray-700 font-semibold text-lg">Vencimento</h3>
            </div>
            <div>
              <h3 class="text-xs text-gray-400 font-normal mb-2">
                *Este campo indica o dia selecionado pelo cliente para o
                vencimento da taxa de adesão
              </h3>
            </div>
            <div
              *ngFor="let parcela of parcelsControls; let i = index"
              [formGroupName]="i"
              class="flex flex-wrap md:flex-nowrap gap-4 mb-4"
            >
              <div class="flex-1 min-w-[200px]">
                <p-datepicker
                  formControlName="dueDate"
                  placeholder="Data de Vencimento da Adesão"
                  appendTo="body"
                  dateFormat="dd/mm/yy"
                  dataType="string"
                  class="w-full"
                  styleClass="w-full"
                />
              </div>
            </div>
          </div>
          <!-- Botão Próximo -->
          <div class="flex justify-end mt-6">
            <p-button label="Próximo" (onClick)="activateCallback(2)" />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>

    <!-- Passo 2: Endereço -->
    <p-step-item [value]="2">
      <p-step>Endereço do Contrato</p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <div>
            <div formGroupName="addressInstalation" class="space-y-6">
              <!-- Linha 1: CEP, Rua, Número -->
              <div class="flex flex-col md:flex-row flex-wrap gap-4 py-2 mt-3">
                <input
                  type="tel"
                  pInputText
                  placeholder="CEP"
                  formControlName="zipCode"
                  (blur)="getCep(true)"
                  mask="00000-000"
                  unmask="true"
                  maxlength="10"
                  class="min-w-0 flex-1"
                />
                <input
                  type="text"
                  pInputText
                  placeholder="Endereço"
                  formControlName="street"
                  class="min-w-0 flex-1"
                />
                <input
                  type="tel"
                  pInputText
                  placeholder="Número*"
                  formControlName="number"
                  class="min-w-0 flex-1"
                />
              </div>
              <!-- Localização e Tipo -->
              <div class="flex flex-col md:flex-row flex-wrap gap-4">
                <p-select
                  [options]="addressLocationOptions"
                  formControlName="addressLocation"
                  placeholder="Localização"
                  appendTo="body"
                  styleClass="min-w-0 flex-1"
                />
              </div>

              <!-- Linha 2: Bairro, Cidade, Complemento -->
              <div class="flex flex-col md:flex-row flex-wrap gap-4">
                <input
                  type="text"
                  pInputText
                  placeholder="Bairro"
                  formControlName="neighborhood"
                  class="min-w-0 flex-1"
                />
                <input
                  type="text"
                  pInputText
                  placeholder="Cidade"
                  formControlName="city"
                  class="min-w-0 flex-1"
                />
                <input
                  type="text"
                  pInputText
                  placeholder="Complemento"
                  formControlName="complement"
                  class="min-w-0 flex-1"
                />
              </div>

              <!-- Mapa Google -->
              <div *ngIf="addressForMapSearch">
                <app-google-maps
                  [address]="addressForMapSearch"
                ></app-google-maps>
              </div>
            </div>
            <!-- Botões -->
            <div class="flex flex-wrap justify-end gap-2 mt-4">
              <p-button
                label="Procurar endereço no Mapa"
                icon="pi pi-map-marker"
                styleClass="p-button-outlined"
                (click)="searchAddressOnMap()"
                type="button"
              ></p-button>
            </div>
          </div>
          <div class="flex py-6 gap-2 justify-between">
            <p-button
              label="Voltar"
              severity="secondary"
              (onClick)="activateCallback(1)"
            />
            <p-button label="Próximo" (onClick)="activateCallback(3)" />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>

    <p-step-item [value]="3">
      <p-step>Assinatura do Cliente</p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col w-full">
            <div class="w-full">
              <app-signature-pad
                (signatureData)="onSignatureDataReceived($event)"
              />
            </div>
          </div>

          <div class="flex py-6 gap-2 justify-between">
            <div class="py-6">
              <p-button
                label="Voltar"
                severity="secondary"
                (onClick)="activateCallback(2)"
              />
            </div>
            <div class="py-6"></div>
            <div class="py-6">
              <p-button
                label="Criar Contrato"
                (onClick)="createNewContract()"
              ></p-button>
           
              
            </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>
  </p-stepper>
</form>
}
        
<p-toast />
