


<form
  [formGroup]="helperForm"
  (ngSubmit)="onSubmitHelper()"
  class="flex flex-col gap-6 py-6 px-4 bg-white border border-gray-200 rounded-xl shadow-md max-w-xl mx-auto"
>
  <!-- Seleção de Técnico -->
  <div class="flex flex-col gap-2">
    <label for="technician" class="text-sm text-slate-600 font-medium">Técnico</label>
    <p-select
      id="technician"
      [options]="technicians"
      optionLabel="label"
      optionValue="value"
      formControlName="technicianId"
      placeholder="Selecione um técnico"
      appendTo="body"
    ></p-select>
  </div>

  <!-- Intervalo de Datas -->
  <div class="flex flex-col md:flex-row gap-4">
    <div class="flex-1">
      <label for="start" class="text-sm text-slate-600 font-medium">Data Inicial</label>
      <p-datepicker
        formControlName="start"
        dateFormat="dd/mm/yy"
        placeholder="Data Inicial"
        inputId="calendar-start"
        appendTo="body"
        [showTime]="true"
        [hourFormat]="'24'"
        dataType="string"
      ></p-datepicker>
    </div>

    <div class="flex-1">
      <label for="end" class="text-sm text-slate-600 font-medium">Data Final</label>
      <p-datepicker
        formControlName="end"
        dateFormat="dd/mm/yy"
        placeholder="Data Final"
        inputId="calendar-end"
        appendTo="body"
        [showTime]="true"
        [hourFormat]="'24'"
        dataType="string"
      ></p-datepicker>
    </div>
  </div>

  <!-- Botão de Envio -->
  <div class="flex justify-center pt-2">
    <p-button
      type="submit"
      severity="success"
      label="Enviar"
      class="w-full md:w-1/6"
    ></p-button>
  </div>
<ul class="rounded-xl border border-gray-200">
  <li *ngFor="let helper of helpers" class="p-4 flex justify-between items-center">
    <div class="text-lg">
      <span class="font-semibold text-slate-800">{{ helper.technicianName }}</span>
      <div class="text-xs text-gray-500">
        {{ helper.start }} - {{ helper.end }}
      </div>
    </div>
  </li>
  </ul>
</form>

