@use "tailwindcss";
@use "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.p-dark, .p-dark *));

.p-datatable-mask {
  @apply backdrop-blur-sm! bg-surface-0/20! dark:bg-surface-900/20!;
}

.p-datatable-loading-icon {
  @apply text-primary!;
}

.scroll-fade {
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}
